DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=gamebrain
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password

MYSQL_ROOT_PASSWORD=rootpassword

IGDB_CLIENT_ID=your-client-id
IGDB_CLIENT_SECRET=your-client-secret