<nav style="display: flex; justify-content: center; align-items: center; gap: 30px; height: 60px;">

    {% if user.is_authenticated %}
    <a href="{% url 'games' %}" style="text-decoration: none; color: black;">HOME</a>
    <a href="{% url 'wishlist' %}" style="text-decoration: none; color: black;">WISHLIST</a>
    <a href="{% url 'library' %}" style="text-decoration: none; color: black;">LIBRARY</a>
    <a href="{% url 'recommendations:recommendation' %}" style="text-decoration: none; color: black;">RECOMMENDATIONS</a> 
    <a href="{% url 'logout' %}" style="text-decoration: none; color: black;">LOGOUT</a>
    {% comment %} <a href="{% url 'recommended' %}" style="text-decoration: none; color: black;">check</a> {% endcomment %}

    

    {% else %}
    <a href="{% url 'games' %}" style="text-decoration: none; color: black;">HOME</a>
    <a href="{% url 'sign_up' %}" style="text-decoration: none; color: black;">SIGN UP</a>
    <a href="{% url 'login' %}" style="text-decoration: none; color: black;">LOG IN</a>
    {% endif %} 
    <form action="{% url 'game_search' %}" method="GET">
        {% csrf_token %}
        <input type="text" name="search" id="game-search", placeholder="search games...">
        <div id="search-dropdown" class="dropdown"></div>
    </form>
</nav>