{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <h2>This is games page</h2>
    <div class="games-grid">
        {% for game in games %}
        {% include 'partials/card.html' with game=game %}
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if games.has_previous %}
        <a href="?page={{ games.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ games.number }} of {{ games.paginator.num_pages }}</span>

    {% if games.has_next %}
        <a href="?page={{ games.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}
